<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To-do List</title>
  <link rel="stylesheet" href="/css/css.css">
</head>
<body>
<div class="container">
  <div class="todo-list">
    <h2>To-do List</h2>
    <div class="row">
      <input type="text" id="input-box" placeholder="Add your task">
      <button>Add</button>
    </div>
    <ul>
      <li class="checked">강아지 밥주기<button class="delete_task">✖️</button></li>
      <li>task<button class="delete_task">✖️</button></li>
    </ul>
  </div>
</div>
</body>
</html>