* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e0854);
  padding: 10px;
}

.todo-list {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo-list h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-list h2 img {
  width: 30px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 35px;
}

.row input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-size: 18px;
}

.row button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
  font-size: 18px;
}

ul {
  align-content: center;
}

ul li {
  list-style: none;
  font-size: 22px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #edeef0;
  width: 90%;
  margin-bottom: 15px;
}

ul li::before {
  content:  "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 1px solid #ddd;
  top: 10px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}   

ul li button {
  all: unset;
  display: inline-block;
  font-size: 20px;
  color: #ddd;
  margin-left: 30px;
}

ul li button:nth-child(2) {
  margin-left: 15px;
}

ul li.checked::before {
  content:  "✔️";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 1px solid #ddd;
  top: 10px;
  left: 8px;
  background: #fff;
  color: #fff;
  text-align: center;
  font-size: 28px;
}
